/* app\page.module.css */
.container {
	height: 100vh;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow-y: auto;
	scrollbar-width: none;
	color: black;
}
.container::-webkit-scrollbar {
	display: none;
}
